flows (1).json
[{"id":"396a86fa.4838fa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"396a86fa.4838fa","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"97b58683.a840a8","type":"ibmiot in","z":"396a86fa.4838fa","authentication":"apiKey","apiKey":"fcf0644.e952598","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"100","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":180,"wires":[["f2f2649a.0d0d98","4ccce637.d835d8"]]},{"id":"4ccce637.d835d8","type":"function","z":"396a86fa.4838fa","name":"pretoken","func":"global.set(\"temp\",msg.payload.Temperature)\nglobal.set(\"hum\",msg.payload.Humidity)\nglobal.set(\"ship\",msg.payload.Ship_speed)\nglobal.set(\"gt\",msg.payload.Gt_shaft)\nglobal.set(\"gt_rat\",msg.payload.Gt_rate)\nglobal.set(\"gg_rate\",msg.payload.Gg_rate)\nglobal.set(\"sp_trq\",msg.payload.Sp_torque)\nglobal.set(\"pp_trq\",msg.payload.Pp_torque)\nglobal.set(\"hpt_temp\",msg.payload.Hpt_temp)\nglobal.set(\"gt_c_o_temp\",msg.payload.Gt_c_o_temp)\nglobal.set(\"hpt_prs\",msg.payload.Hpt_pressure)\nvar apikey=\"09DGR9J_Cs533CVJVNrQMI8v32dfHamQurNLO1f3dKae\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":220,"wires":[["29510500.51dacc"]]},{"id":"7c9ead82.14af44","type":"debug","z":"396a86fa.4838fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":260,"wires":[]},{"id":"29510500.51dacc","type":"http request","z":"396a86fa.4838fa","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":300,"wires":[["2230eaa.3939b16"]]},{"id":"2230eaa.3939b16","type":"function","z":"396a86fa.4838fa","name":"pre prediction","func":"var temp=global.get(\"temp\")\nvar hum=global.get(\"hum\")\nvar ship=global.get(\"ship\")\nvar gt=global.get(\"gt\")\nvar gt_rat=global.get(\"gt_rat\")\nvar gg_rate=global.get(\"gg_rate\")\nvar sp_trq=global.get(\"sp_trq\")\nvar pp_trq=global.get(\"pp_trq\")\nvar hpt_temp=global.get(\"hpt_temp\")\nvar gt_c_o_temp=global.get(\"gt_c_o_temp\")\nvar hpt_prs=global.get(\"hpt_prs\")\nvar token=msg.payload.access_token\nmsg.headers={'content-Type':'application/json',\"Authorization\":\"Bearer  \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\": [{\"fields\": [[\"Temperature\",\"Humidity\",\"Ship_speed\",\"Gt_shaft\",\"Gt_rate\",\"Gg_rate\",\"Sp_torque\",\"Pp_torque\",\"Hpt_temp\",\"Gt_c_o_temp\",\"Hpt_pressure\"]],\"values\": [[temp,hum,ship,gt,gt_rat,gg_rate,sp_trq,pp_trq,hpt_temp,gt_c_o_temp,hpt_prs]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":180,"wires":[["c50d4c8f.6aca3"]]},{"id":"c50d4c8f.6aca3","type":"http request","z":"396a86fa.4838fa","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/354fc19b-962e-4777-b0ab-e1725b4f73b3/predictions?version=2021-07-07","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":280,"wires":[["a1064c2.1eb66b"]]},{"id":"a1064c2.1eb66b","type":"function","z":"396a86fa.4838fa","name":"parsing","func":"\nmsg.payload= msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":380,"wires":[["7c9ead82.14af44","7884ce0c.33b1d"]]},{"id":"bf5eb2f4.320d3","type":"inject","z":"396a86fa.4838fa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":300,"wires":[["4ccce637.d835d8"]]},{"id":"7884ce0c.33b1d","type":"ui_text","z":"396a86fa.4838fa","group":"741129ff.f618f8","order":0,"width":"8","height":"2","name":"","label":"Predicted output","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":460,"wires":[]},{"id":"fcf0644.e952598","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"u4i9du.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"741129ff.f618f8","type":"ui_group","name":"Default","tab":"1b836055.0df14","order":1,"disp":true,"width":"22","collapse":false},{"id":"1b836055.0df14","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]